<h3>
  Filter by price low-high
</h3>
<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets\Sale1.jpeg" alt="sale1"  width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="assets/Sale2.jpeg" alt="sale2" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="assets/Sale3.jpeg" alt="sale3" width="1100" height="500">
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>



<div class ="row">
  <div class = "coloumn">
  <button class="btn-btn-danger" color=red  (click)="ByPriceAsec()">Low-High</button>
  </div>
</div>
<!-- <div *ngFor="let pdt of sortbypriceasc">
  Productname : {{pdt.Productname}}
  Productprice : {{pdt.Productprice}}
</div> -->
<div class="container">
  <div class="row">    
  
  <div class="col-md-3 mx-auto my-5 d-flex" *ngFor = "let product of sortbypriceasc">
  
    <div class="card full shadow">
        <!-- <img class="card-img-top" src= "https://localhost:44369/Image/{{product. productimage1}}" alt="product" width="250px" height="200px"> -->
        <div class="card-body">
            <div class="card-text">
                <h3 class = "card-title"><u>{{ product.productname }}</u></h3>
                <h4  style = "color:red"> Price : {{ product.productprice }} &#8377;</h4>
                <h6 style = "color: grey "> Description: {{ product.productdescription }}</h6>
                <!--<h5 style = "color: red;"> Product Quantity : {{ product.productquantity}} pcs</h5>
                --><br><br>
                <button class="btn1 btn-warning" (click)=openModal(product.productid,product.productname,product.productprice,product.productquantity,product.productdescription,product.productbrand,product.productimage1,product.retailerid,product.categoryid)
                data-toggle="modal" data-target="#exampleModal"> View Product </button>
            </div>
        </div>
    </div>
  </div>
  </div>



  <div class ="row">
    <div class = "coloumn">
    <button class="btn-btn-success" (click)="ByPriceDesc()">High-Low
    </button>
    </div>
  </div>
  <!-- <div *ngFor="let pdt of sortbypriceasc">
    Productname : {{pdt.Productname}}
    Productprice : {{pdt.Productprice}}
  </div> -->
  <div class="container">
    <div class="row">    
    
    <div class="col-md-3 mx-auto my-5 d-flex" *ngFor = "let product of sortbypricedesc">
    
      <div class="card full shadow">
          <!-- <img class="card-img-top" src= "https://localhost:44369/Image/{{product. productimage1}}" alt="product" width="250px" height="200px"> -->
          <div class="card-body">
              <div class="card-text">
                  <h3 class = "card-title"><u>{{ product.productname }}</u></h3>
                  <h4  style = "color:red"> Price : {{ product.productprice }} &#8377;</h4>
                  <h6 style = "color: grey "> Description: {{ product.productdescription }}</h6>
                  <!--<h5 style = "color: red;"> Product Quantity : {{ product.productquantity}} pcs</h5>
                  --><br><br>
                  <button class="btn1 btn-warning" (click)=openModal(product.productid,product.productname,product.productprice,product.productquantity,product.productdescription,product.productbrand,product.productimage1,product.retailerid,product.categoryid)
                  data-toggle="modal" data-target="#exampleModal"> View Product </button>
              </div>
          </div>
      </div>
    </div>
    </div>

    <div class ="row">
      <div class = "coloumn">
      <label for ="category" >Filter By Category</label>
      <select id="category" #catname (change) ="ByCategory(catname)">
        <option *ngFor ="let c of categories" [value] ="c" >
           {{c}}
         
        </option>
      </select>
      


    <div class="container" *ngIf="category!=null">
      <div class="row">    
      
      <div class="col-md-3 mx-auto my-5 d-flex" *ngFor = "let product of filterbycategory">
      
        <div class="card full shadow">
            <!-- <img class="card-img-top" src= "https://localhost:44369/Image/{{product. productimage1}}" alt="product" width="250px" height="200px"> -->
            <div class="card-body">
                <div class="card-text">
                    <h3 class = "card-title"><u>{{ product.productname }}</u></h3>
                    <h4  style = "color:red"> Price : {{ product.productprice }} &#8377;</h4>
                    <h6 style = "color: grey "> Description: {{ product.productdescription }}</h6>
                    <!--<h5 style = "color: red;"> Product Quantity : {{ product.productquantity}} pcs</h5>
                    --><br><br>
                    <button class="btn1 btn-warning" (click)=openModal(product.productid,product.productname,product.productprice,product.productquantity,product.productdescription,product.productbrand,product.productimage1,product.retailerid,product.categoryid)
                    data-toggle="modal" data-target="#exampleModal"> View Product </button>
                </div>
            </div>
        </div>
      </div>
      </div>